* {
    box-sizing: border-box;
    position: relative;
}

body {
    background-color: white;
    color: black;
    margin: 0px;
}

@font-face {
    font-family: 'Commissioner';
    src: url(./Commissioner/Commissioner-VariableFont_FLAR\,VOLM\,slnt\,wght.ttf);
}

@font-face {
    font-family: 'Epilogue';
    src: url(./Epilogue/Epilogue-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Dosis';
    src: url(./Dosis/Dosis-VariableFont_wght.ttf);
}

#nav__navigation--space-between {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    align-items: center;
    margin: 0px 0px 100px;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
}

#nav__navigation--space-between > .a__nav__links {
    text-decoration: none;
    color: white;
    font-family: 'Commissioner';
    font-weight: 500;
}

#div__content-box {
    margin: 25px 80px 0px;
}

#sec__content--flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#div__main-header-box{
    width: 100%;
    text-align: center;
}

#div__main-header {
    display: inline-block;
    font-size: 35px;
    margin: 0px 0px 30px;
    font-family: 'Commissioner';
    font-weight: 600;
    color: #212121;
}

#div__members-top-box {
    width: 100%;
}

.div__members-content-flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#sec__content-boxes--left {
    margin: 0px 5px 0px 0px;
    width: 100%;
    height: 450px;
    background-color: #E4D9FF;
}

#sec__content-boxes--middle {
    margin: 0px 5px;
    width: 100%;
    height: 450px;
    background-color: #E4D9FF;

}

#sec__content-boxes--right {
    margin: 0px 0px 0px 5px;
    height: 450px;
    width: 100%;
    background-color: #E4D9FF;
}

.sec__content--flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.sec__content--members-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sec__content-headers-box {
    width: 100%;
    height: 80px;
    text-align: center;
}

.sec__content-headers {
    font-size: 18px;
    font-family: 'Commissioner';
    color: #212121;
}

.sec__content-price-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Commissioner';
    font-weight: bold;
}

.img__dollar-sign-box {
    width: 30px;

}

.img__dollar-sign {
    margin: 0;
    text-align: right;
}

.p__dollar-sign {
    margin: 6px 3px 0px 0px;
    text-align: right;
    font-size: 30px;
    color: #212121;
}

.p__content-header-price--large-box {
    width: 70px;
    height: 70px;
}

.p__content-header-price--large {
    font-size: 60px;
    margin: 0;
    color: #212121;
}

.p__content-header-price--small-box {
    width: 40px;

}

.p__content-header-price--small {
    font-size: 30px;
    margin: 8px 0px 0px;
    color: #212121;
}

.sec__content-price--extra {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Epilogue';
}

.p__payment-header-box {
}

.p__payment-header {
    font-size: 13px;
}

.p__access-header-box {
}

.p__access-header {
    font-size: 13px;
}

.div__decoration-bar {
    height: 2px;
    width: 90px;
    background-color: red;
}

.div__link-box {
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 30px;
    width: 90%;
    height: 50px;
    background-color: #212121;
}

.a__links {
    font-size: 20px;
    align-self: center;
    color: white;
    font-family: 'Commissioner';
}


/*Bottom half */
#div__members-bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 850px;
    color: white;
}

.div__content-boxes--flex-rows-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    width: 100%;
    justify-content: space-between;
}

.sec__membership-info--flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    font-family: 'Dosis';
    font-weight: 600;
}

.sec__add-ons-info--flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
    font-family: 'Dosis';
    font-weight: 600;
}

.sec__fees-info--flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 80px;
    font-family: 'Dosis';
    font-weight: 600;
}

.div__header-box {
    margin-top: 35px;
    width: 100%;
}

.div__h3__header {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    font-family: 'Commissioner';
}

.div__membership-extras-box {
    margin: 5px 0px;
    width: 100%;
}

.p__members-info--text {
    margin: 0px;
    font-size: 17px;
    text-align: center;
    padding: 0px 15px 0px;
}

#div__content-boxes--left {
    margin: 0px 5px 0px 0px;
    background: linear-gradient(to right, #273469, #1E2749);
    border-bottom: 10px solid #212121;
}

#div__content-boxes--middle {
    margin: 0px 5px;
    background: linear-gradient(to right, #1E2749, #081235);
    border-bottom: 10px solid #212121;
}

#div__content-boxes--right {
    margin: 0px 0px 0px 5px;
    background: linear-gradient(to right, #081235, #04091a);
    border-bottom: 10px solid #212121;
}




footer {
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

#footer__sec__logo-rights {
    text-align: center;
    width: 100%;
}

#div__logo-box {
    width: 100%;
    padding-bottom: 2.5px;
}

#h4__logo {
    margin: 0;
    font-size: 20px;
    text-align: center;
    font-family: 'Dosis';
    font-weight: bold;
}

#div__rights-box {
    width: 100%;
}

#p__rights {
    margin: 0px;
    font-size: 13px;
    text-align: center;
    padding-top: 2.5px;
    color: #525252;
    font-weight: bold;
}


/* Fix the grey border on the bottom
    Replace the top dark blue border with a box in its place and make it slightly thinner
    Make the select box slightly wider


    Add an animation when we hover over the select box, it changes colors
    Make sure to add a logo
*/

#div__sub-border-block--gradient-blue--left {
    display: block;
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #273469, #1E2749);
}

#div__sub-border-block--gradient-blue--middle {
    display: block;
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #1E2749, #081235);
}

#div__sub-border-block--gradient-blue--right {
    display: block;
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #081235, #04091a);
}
