* {
    box-sizing: border-box;
    display: block;
    position: relative;
}

body {
    background-color: black;
    color: white;
    margin: 0px;
}

#nav__navigation--space-between {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    border: 3px solid white;
    width: 100%;
    height: 50px;
    align-items: center;
    margin: 0px 0px 100px;
}

#nav__navigation--space-between > .a__nav__links {
    border: 2px dashed lawngreen;
    text-decoration: none;
    color: white;
}

#div__content-box {
    border: 3px solid white;
    margin: 25px 40px 0px;
}

#sec__content--flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border: 2px solid lightcoral;
}

#div__main-header-box{
    border: 2px dashed orchid;
    width: 100%;
    text-align: center;
}

#div__main-header {
    display: inline-block;
    border: 1px dashed red;
    font-size: 40px;
    margin: 0px 0px 40px;
}

#div__members-top-box {
    border: 2px solid firebrick;
    width: 100%;
}

.div__members-content-flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#sec__content-boxes--left {
    border: 2px solid saddlebrown;
    margin: 0px 7px 0px 0px;
    width: 100%;
    height: 450px;
}

#sec__content-boxes--middle {
    border: 2px solid aqua;
    margin: 0px 7px;
    width: 100%;
    height: 450px;
}

#sec__content-boxes--right {
    border: 2px solid lawngreen;
    margin: 0px 0px 0px 7px;
    height: 450px;
    width: 100%;
}

.sec__content--flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.sec__content--members-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid slateblue;
    width: 100%;
}

.sec__content-headers-box {
    border: 1px dashed olive;
    width: 100%;
    height: 80px;
    text-align: center;
}

.sec__content-headers {
    border: 1px dashed fuchsia;
    font-size: 18px;
}

.sec__content-price-box {
    border: 2px solid purple;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.img__dollar-sign-box {
    border: 1px dashed lawngreen;
    width: 30px;

}

.img__dollar-sign {
    margin: 0;
    text-align: right;
}

.p__dollar-sign {
    margin: 0px 3px 0px 0px;
    text-align: right;
    font-size: 30px;
}

.p__content-header-price--large-box {
    border: 1px dashed chocolate;
    width: 70px;
    height: 70px;
}

.p__content-header-price--large {
    font-size: 60px;
    margin: 0;
}

.p__content-header-price--small-box {
    border: 1px dashed darkgoldenrod;
    width: 40px;

}

.p__content-header-price--small {
    font-size: 30px;
    margin: 6px 0px 0px;
}

.sec__content-price--extra {
    border: 2px solid royalblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.p__payment-header-box {
    border: 2px solid green;
}

.p__payment-header {
    font-size: 13px;
}

.p__access-header-box {
    border: 2px solid cyan;
}

.p__access-header {
    font-size: 13px;
}

.div__decoration-bar {
    height: 3px;
    width: 90px;
    background-color: red;
}

.div__link-box {
    display: flex;
    justify-content: space-around;
    border: 2px solid darkolivegreen;
    margin: 0px 0px 30px;
    width: 85%;
    height: 55px;
}

.a__links {
    border: 1px dashed yellow;
    font-size: 20px;
    align-self: center;
}


/*Bottom half */
#div__members-bottom {
    border: 3px solid firebrick;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.div__content-boxes--flex-rows-box {
    border: 2px solid saddlebrown;
    margin: 0px;
    width: 100%;
}

.sec__membership-info--flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 2px solid grey;
    align-items: center;
}

.div__header-box {
    border: 1px dashed olive;
    width: 100%;
}

.div__h3__header {
    font-size: 14px;
    text-align: center;
}

.div__membership-extras-box {
    margin: 5px 0px;
    border: 1px dashed hotpink;
    width: 100%;
}

.p__members-info--text {
    margin: 0px;
    font-size: 16px;
    text-align: center;
    padding: 0px 10px 0px;
}

#div__content-boxes--left {
    border: 2px solid gold;
    margin: 0px 7px 0px 0px;
}

#div__content-boxes--middle {
    margin: 0px 7px;
    border: 2px solid deepskyblue;
}

#div__content-boxes--right {
    margin: 0px 0px 0px 7px;
    border: 2px solid purple;
}

footer {
    border: 3px solid white;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer__sec__logo-rights {
    border: 2px solid darkolivegreen;
    text-align: center;
    width: 100%;
}

#div__logo-box {
    border: 1px dashed tan;
    width: 100%;
    padding-bottom: 2.5px;
}

#h4__logo {
    margin: 0;
    font-size: 20px;
    text-align: center;
}

#div__rights-box {
    border: 1px dashed skyblue;
    width: 100%;
}

#p__rights {
    margin: 0px;
    font-size: 13px;
    text-align: center;
    padding-top: 2.5px;
}
